@import '../../scss/variables';
.message {
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    margin: 15px auto;
    background-color: $orange;
    color: $white;
    max-width: 350px;
    border-radius: 4px;
}
