.search-sort {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__sort-btns {
        display: flex;

        button {
            &:last-child {
                margin-left: 15px;
            }
        }
    }
}
