@import '../../scss/variables';
.input {
    position: relative;
    margin-bottom: 32px;
    width: 100%;

    &__full-width {
        max-width: 100%;
    }

    &--max-450 {
        max-width: 450px;
    }

    label {
        margin-left: 10px;
    }

    input {
        width: 100%;
        padding: 15px 20px;
        outline: none;
        border: 2px solid $white;
        border-radius: 4px;
        transition: $transition;
        background: none;
        font-size: 16px;
        line-height: 20px;
        max-height: 50px;
        cursor: text;

        @media (hover: hover) {
            &:hover {
                border-color: $orange;
            }
        }

        &:focus {
            outline: none;
            border-color: $orange;
        }

        &:focus + label {
            font-size: 14px;
            line-height: 18px;
            transition: $transition;
        }
    }

    &__error {
        transition: $transition;
        border-color: $red;
        border: 2px solid $red !important;
        label,
        p {
            color: $red;
        }
    }

    &__err-msg {
        color: $red;
    }

    input + label {
        top: -15px;
        left: 10px;
        font-size: 14px;
        line-height: 18px;
        transition: $transition;
    }
}
