@import '../../scss/variables';
@import '../../scss/mixins';
.form {
    margin-top: 40px;

    &__controls {
        margin-top: 32px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include mq('to', 577) {
            flex-direction: column-reverse;
        }

        button {
            &:last-child {
                margin-left: 15px;
            }
        }
    }

    &__message {
        @include mq('to', 577) {
            margin-top: 15px;
        }

        p {
            background-color: $green;
            padding: 15px 30px;
            color: $white;
            border-radius: 4px;

            @include mq('to', 577) {
                text-align: center;
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
    }

    &__success-msg {
        transition: all 0.5s ease;
        opacity: 0;

        &--show {
            opacity: 1;
        }

        &--hide {
            opacity: 0;
        }
    }
}
