@import '../../scss/variables';
@import '../../scss/mixins';
.user-item {
    border-top: 1px solid $white;
    transition: $transition;

    @media (hover: hover) {
        &:hover {
            border-color: $orange;
        }
    }

    &:last-child {
        border-bottom: 1px solid $white;
    }

    &__title-text {
        width: 100%;
        max-width: 80%;
        padding-right: 20px;
    }

    a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        @include mq('to', 577) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    h2,
    p,
    span {
        color: $white;
    }

    p {
        margin-top: 15px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include mq('to', 577) {
            margin-top: 10px;
        }
    }

    &__web-email {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        @include mq('to', 577) {
            align-items: flex-start;
            margin-top: 10px;
            gap: 10px;
        }
    }
}
