@import '../../scss/variables';
@import '../../scss/mixins';

.user-detail {
    height: 100%;

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__controls {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;

        a {
            margin-left: 15px;
        }
    }

    &__img-name {
        display: flex;
        align-items: center;
        gap: 50px;

        h2 {
            font-size: 40px;
        }

        img {
            width: 200px;
            height: 200px;
            border-radius: 4px;
        }
    }

    h2,
    p,
    span {
        color: $white;
    }

    &__heading {
        color: $white;
        margin-bottom: 15px;
    }

    &__text {
        margin-top: 15px;
        display: flex;
        align-items: center;
        font-size: 20px;

        @include mq('to', 577) {
            font-size: 18px;
        }

        svg {
            fill: $white;
            font-size: 30px;
            margin-right: 10px;

            @include mq('to', 577) {
                font-size: 25px;
            }
        }
    }
}
