.form {
    margin-top: 40px;

    &__controls {
        margin-top: 32px;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
            &:last-child {
                margin-left: 15px;
            }
        }
    }
}
