@import './variables';
@import './mixins';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background: $black;
    height: 100%;
    padding-bottom: 50px;
    font-family: 'Montserrat';
}

main {
    max-width: 930px;
    margin: 40px auto 0;
    padding: 30px 30px 60px;
    // background-color: $orange;

    @include mq('to', 577) {
        margin: 15px auto 0;
    }
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

ul {
    padding: 0;
    li {
        list-style: none;
    }
}

h1,
h2,
h3,
p,
a {
    margin: 0;
}

h2,
p,
span,
label,
input,
textarea {
    color: $white;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $white !important;
    -webkit-box-shadow: 0 0 0 30px $black inset !important;

    caret-color: $white;
}

input {
    &:disabled {
        cursor: not-allowed !important;

        &:hover {
            border: 2px solid $white !important;
        }
    }
}

button {
    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
